
body,
html {
  width: 100%;
  height: 100%;
}

body {
  color: var(--color6);
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
  /*font-family: 'Montserrat', sans-serif*/
  /*font-family: 'Raleway', sans-serif;*/
  /*font-family: 'Roboto Slab', serif;*/
  /* font-family: 'Pangolin', cursive; */
}

:root {
  --color1: rgba(247, 240, 245, 1);
  --color2: rgba(37, 48, 49, 1);
  --color3: rgba(4, 8, 15, 1);
  --color4: rgba(35, 35, 32, 1);
  --color5: rgba(23, 25, 24, 1);
  --color6: rgba(102, 102, 110, 1);
}

::selection {
  background-color: var(--color4);
  color: var(--color1);
}

html {
  scroll-behavior: smooth;
}

:link{
  text-decoration: none!important;
}

ul {
  list-style: none;
}


.faded {
  color: rgba(247, 240, 245, 0.90);
}

.fadeIn {
  opacity: 1;
  visibility: visible;
  transition: .5s;
}

.fadeOut {
  opacity: 0;
  visibility: hidden;
  transition: .5s;
}

.rotate-90 {
  transform: rotate(90deg);
  transition: .5s ease;
}

.nav-top {
  position: fixed;
  z-index: 9999;
}


.nav-top-link {
  color: var(--color6);
  font-size: 1em;
  transition: 0.5s;
}

.nav-top-link:hover {
  color: var(--color2);
  padding 0 10px;
}

.hamburger {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  font-size: 20px;
  border: 3px solid var(--color6);
  transition: 0.5s;
  cursor: pointer;
}

.hamburger:hover{
  transform: scale(1.2);
}

header.startup {
  background-position: center;
  background-image: linear-gradient(rgba(4, 8, 15, 1), rgba(4, 8, 15, 0.7)), url("header.jpg");
  background-size: cover;
  height: 100%;
  border-bottom: 10px solid #253031;
}

header.startup h1 {
  font-size: 6vw;
  text-shadow: 6px 2px 2px #253031;
}

header.startup h2 {
  font-size: 2vw;
}

.piclogo {
  border: 5px solid #253031;
  width: 25%;
}

.btn {
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 300px;
  font-family: 'Montserrat', sans-serif;
}

.btn-xl {
  padding: 1rem 2rem;
}

.btn-primary {
  background-color: #262525;
  border-color: #262525; }

.btn-primary:hover {
  background-color: #3e3d3d;
  border-color: #3e3d3d;
  border-width: 5px;
  cursor: pointer;
}

.arrow-down{
  font-size: 4vw;
  color: var(--color1);
  animation: bouncearrow 1.5s infinite;
  position: relative;
  cursor: pointer;
}

/* .grids {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: auto;
}

.grids-card {
  height: 300px;

  background-color: yellow;
} */

.projects {
  background-color: var(--color1);
  color: var(--color5);
  height: auto;
  border-bottom: 10px solid #253031;
}

.respo-flex {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.jflex {
  flex: 50%;
  width: 100%;
  height: 500px;
  background-size: cover;
}

.jflex-child {
  width: 100%;
  color: var(--color1);


}

.about-row{
  height:100vh;
  background-color:var(--color5);
  background-image:url('images/scannerboi.jpg');
  background-repeat:no-repeat;
  background-size: cover;
  background-attachment: fixed;

}

.about-col {
  color: var(--color1);
}

.about-col h1{
  margin-right: 30%;
  text-align: right;
  text-shadow: 1px 2px 3px #171918;
  font-family: 'Pangolin', cursive;
  word-wrap: break-word;
}

.about-col p{
  text-align: right;
  font-size: 20px;
  text-shadow: 1px 2px 3px #171918;
  font-family: 'Montserrat', sans-serif
  word-wrap: break-word;

}

.contact {
  background-color: var(--color3);
  height: 50vh;
  min-height: 300px;
}

.contact a {
  color: var(--color1);
  font-size: 14px;
  transition: .8s;
}

.contact a:hover {
  color: var(--color2);
}

footer {
  background-color: var(--color3);
  height: 30vh;
  min-height: 200px;
}

.footer-icons {
  font-size: 40px;
}

.footer-icons a:hover {
  color: var(--color1);
  position: relative;
  animation: footericon .5s;
}

.footer-icons a {
  color: var(--color6);
  transition: .5s ease;
}

.cc {
  font-size: 12px;
  font-family: 'Montserrat', sans-serif
}

@keyframes bouncearrow {
  0%{top: 0px;}
  50%{top: 5px;}
  100%{top: 0px;}
}

@keyframes footericon {
  0%{bottom: 0px;}
  50%{bottom: 5px;}
  100%{bottom: 0px;}
}

/* Extra small devices (portrait phones, less than 576px)*/
@media only (max-width: 575.98px) {


}

/* Small devices (landscape phones, 576px and up)*/
@media only screen and (max-width: 767.98px) {
  .respo-flex {
    flex-direction: column;
    height: 100%;
  }

  .jflex {
    flex: 100%;
  }
}

/* Medium devices (tablets, 768px and up)*/
@media only screen and (max-width: 991.98px) {
  .piclogo {
    width: 40%;
  }

  .arrow-down {
    font-size: 40px;
  }

  header.startup h1 {
    font-size: 24px;
    text-shadow: 2px 2px 2px #253031;
  }

  header.startup h2 {
    font-size: 16px;
  }

  /* .grids {
    grid-template-columns: 1fr;
  }

  .grids-card {
    height: 400px;
  } */

  .jflex {
    height: 450px;
  }

  .jflex-child {
    height: 100%;
  }

  .jflex-child h3, .jflex-child h6 {
    background-color: rgba(23, 25, 24, 0.85);
    width: 100%;
  }

  .jflex {
    filter: brightness(100%);
  }

}

/*Large devices (desktops, 992px and up)*/
@media only screen and (min-width: 992px) {
  .jflex {
    filter: brightness(40%);
    transition: 1s ease;
  }

  .jflex-child {
    height: 100px;
    overflow: hidden;
    background-color: rgba(23, 25, 24, 0.85);
  }

  .jflex:hover {
    filter: brightness(100%);
  }

  .about-row{
    background-size: cover;
  }

  .about-col h1{
    margin-left: 50%;
    width: 500px;
  }

  .about-col p{
    margin-left: 50%;
    width: 500px;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  /* .grids-card {
    height: 450px;
  } */
}
